" ~/.idea-lazy.vim

" LazyVim mappings for Jetbrains IDEs

" Required plugins. https://plugins.jetbrains.com/bundles/7-ideavim-bundle
"  IDEAVim
"  Which-Key
"  IdeaVim-Sneak

" To install, add this to the top of your ~/.ideavimrc:
" source ~/.idea-lazy.vim

" This file is hosted at:
" https://gist.github.com/mikeslattery/d2f2562e5bbaa7ef036cf9f5a13deff5

" Beginners, run this to learn basic maps:
" nvim --clean +Tutor

" Useful Jetbrains Tool Windows' Maps:
" <esc>       Return to editor
" <S-esc>     Hide the tool window
" <F12>       Go to the tool window
" <C-S-quote> Toggle Maximize/Restore the tool window
" <C-M-y>     Reload files.  Useful after making edits in Neovim or CL
" <M-left>    Previous Tab
" <M-right>   Next Tab
" <C-F4>      Close Tab
" <M-3>       Activate Find Tool Window
" <M-6>       Activate Problems View Tool Window
" <c-s-a>     Find Action

" LazyVim's Java extra: https://www.lazyvim.org/extras/lang/java


" LazyVim default settings
" https://www.lazyvim.org/configuration/general

let mapleader=" "
let maplocalleader="\\"

" Print line number
set number
" Lines of context
set scrolloff=4
" Columns of context
set sidescrolloff=8
" which-key says to set this high, or set notimeout
set timeoutlen=10000
set notimeout
set undolevels=10000
" Disable line wrap
set nowrap

" The gist's "Neovim settings that differ from Vim" block is gone: IdeaVim
" implements none of backspace, formatoptions, listchars, shortmess or
" shiftround, so every line raised E518 on source.

" Enable plugin behavior

" https://github.com/JetBrains/ideavim/wiki/IdeaVim-Plugins
" https://www.lazyvim.org/plugins

" gcc and gc<action> mappings.
Plug 'tpope/vim-commentary'
" s action, such as cs"' (replace " with '), ds" (unquote)
Plug 'tpope/vim-surround'
" similar to flash.nvim
Plug 'justinmk/vim-sneak'
" Enable the whichkey plugin, available on Jetbrains marketplace
set which-key
" Extended matching.  A Neovim default plugin.
set matchit

" Key maps

" https://www.lazyvim.org/configuration/keymaps

" To track Action-IDs
" :action VimFindActionIdAction

" General Keymaps

" Go to Left Window
nmap <C-h> <C-w>h
" Go to Lower Window
nmap <C-j> <C-w>j
" Go to Upper Window
nmap <C-k> <C-w>k
" Go to Right Window
nmap <C-l> <C-w>l
" Arrow aliases for the same four.  JetBrains has no directional split action
" (only NextSplitter/PrevSplitter, which cycle), so these route through
" IdeaVim's <C-w> rather than <Action>().
" Go to Left Window (arrow)
nmap <C-A-Left> <C-w>h
" Go to Lower Window (arrow)
nmap <C-A-Down> <C-w>j
" Go to Upper Window (arrow)
nmap <C-A-Up> <C-w>k
" Go to Right Window (arrow)
nmap <C-A-Right> <C-w>l
" Increase Window Height
nmap <C-Up> <Action>(IncrementWindowHeight)
" Decrease Window Height
nmap <C-Down> <Action>(DecrementWindowHeight)
" Decrease Window Width
nmap <C-Left> <Action>(DecrementWindowWidth)
" Increase Window Width
nmap <C-Right> <Action>(IncrementWindowWidth)
" Move Down
nmap <A-j> <Action>(MoveLineDown)
imap <A-j> <Esc><Action>(MoveLineDown)i
" Move Up
nmap <A-k> <Action>(MoveLineUp)
imap <A-k> <Esc><Action>(MoveLineUp)i
" Prev Buffer
nmap <S-h> <Action>(PreviousTab)
" Next Buffer
nmap <S-l> <Action>(NextTab)
" Prev Buffer (alternative)
nmap [b <Action>(PreviousTab)
" Next Buffer (alternative)
nmap ]b <Action>(NextTab)
" Switch to Other Buffer
nnoremap <leader>bb <C-^>
" Switch to Other Buffer (alternative)
nnoremap <leader>` <C-^>
" Delete Buffer
nmap <leader>bd <Action>(CloseContent)
" Delete Buffer and Window
nmap <leader>bD <Action>(CloseContent)
" Delete Other Buffers
nmap <leader>bo <Action>(CloseAllEditorsButActive)
" Escape and Clear hlsearch
nmap <esc> :nohlsearch<CR>
nmap <leader>ur :nohlsearch<CR>
" Keywordprg
nmap <leader>K :help<space><C-r><C-w><CR>
" Add Comment Below
nmap gco o<c-o>gcc
" Add Comment Above
nmap gcO O<c-o>gcc
" Lazy
nmap <leader>l <Action>(WelcomeScreen.Plugins)
" New File
nmap <leader>fn <Action>(NewElementSamePlace)
" Location List
nmap <leader>xl <Action>(ActivateProblemsViewToolWindow)
" Quickfix List
nmap <leader>xq <Action>(ActivateProblemsViewToolWindow)
" Previous Quickfix
nmap [q <Action>(GotoPreviousError)
" Next Quickfix
nmap ]q <Action>(GotoNextError)
" Format
nmap <leader>cf <Action>(Format)
vmap <leader>cf <Action>(Format)
" Line Diagnostics
nmap <leader>cd <Action>(ActivateProblemsViewToolWindow)
" Next Diagnostic
nmap ]d <Action>(GotoNextError)
" Prev Diagnostic
nmap [d <Action>(GotoPreviousError)
" Next Error
nmap ]e <Action>(GotoNextError)
" Prev Error
nmap [e <Action>(GotoPreviousError)
" Next Warning
nmap ]w <Action>(GotoNextError)
" Prev Warning
nmap [w <Action>(GotoPreviousError)
" Toggle Auto Format (Global)
nmap <leader>uF :echo 'There is no equivalent mapping for Toggle Auto Format.'<cr>
" Toggle Auto Format (Buffer)
nmap <leader>uf :echo 'There is no equivalent mapping for Toggle Auto Format.'<cr>
" Toggle Spelling
nmap <leader>us :setlocal spell!<CR>
" Toggle Wrap
nmap <leader>uw :setlocal wrap!<CR>
" Toggle Relative Number
nmap <leader>uL :set relativenumber!<CR>
" Toggle Diagnostics
nmap <leader>ud <Action>(ActivateProblemsViewToolWindow)
" Toggle Line Numbers
nmap <leader>ul :set number!<CR>
" Toggle conceallevel
nmap <leader>uc :echo 'There is no equivalent mapping for Toggle Conceallevel.'<cr>
" Toggle Treesitter Highlight
nmap <leader>uT :echo 'There is no equivalent mapping for Toggle Treesitter Highlight.'<cr>
" Toggle Background
nmap <leader>ub <Action>(QuickChangeScheme)
" Toggle Inlay Hints
nmap <leader>uh :echo 'There is no equivalent mapping for Toggle Inlay Hints.'<cr>
" Lazygit (Root Dir)
nmap <leader>gg <Action>(ActivateCommitToolWindow)
" Lazygit (cwd)
nmap <leader>gG <Action>(ActivateCommitToolWindow)
" Git Blame Line
nmap <leader>gb <Action>(Annotate)
" Git Browse
nmap <leader>gB <Action>(Vcs.Show.Log)
" Lazygit Current File History
nmap <leader>gf <Action>(Vcs.ShowTabbedFileHistory)
" Lazygit Log
nmap <leader>gl <Action>(Vcs.Show.Log)
" Lazygit Log (cwd)
nmap <leader>gL <Action>(Vcs.Show.Log)
" Quit All
nmap <leader>qq <Action>(Exit)
" Inspect Pos
nmap <leader>ui <Action>(ActivateStructureToolWindow)
" Inspect Tree
nmap <leader>uI <Action>(ActivateStructureToolWindow)
" LazyVim Changelog
nmap <leader>L <Action>(WhatsNewAction)
" Terminal (Root Dir)
nmap <leader>ft <Action>(ActivateTerminalToolWindow)
" Terminal (cwd)
nmap <leader>fT <Action>(ActivateTerminalToolWindow)
" <C-/> (open terminal) and terminal->editor focus now live in the CLion keymap "zauroff's"
" Split Window Below.  :split<cr> doesn't work.
nmap <leader>- <c-w>s
" Split Window Right
nmap <leader><bar> <c-w>v
" Delete Window
nmap <leader>wd <Action>(CloseContent)
" Toggle Maximize
nmap <leader>wm <Action>(ToggleDistractionFreeMode)

" Tabs are treated as saved layouts

" Last Tab
nmap <leader><tab>l <Action>(StoreDefaultLayout)<Action>(ChangeToolWindowLayout)
" Close Other Tabs
nmap <leader><tab>o :<cr>
" First Tab
nmap <leader><tab>f <Action>(StoreDefaultLayout)<Action>(ChangeToolWindowLayout)
" New Tab
nmap <leader><tab><tab> <Action>(StoreDefaultLayout)<Action>(StoreNewLayout)
" Next Tab
nmap <leader><tab>] <Action>(StoreDefaultLayout)<Action>(ChangeToolWindowLayout)
" Previous Tab
nmap <leader><tab>[ <Action>(StoreDefaultLayout)<Action>(ChangeToolWindowLayout)
" Close Tab
nmap <leader><tab>d <Action>(StoreDefaultLayout)<Action>(ChangeToolWindowLayout)

" LSP Keymaps

" Lsp Info
nmap <leader>cl :echo 'There is no equivalent mapping for Lsp Info.'<cr>
" Goto Definition
nmap gd <Action>(GotoDeclaration)
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" References.  ShowUsages is the popup-with-preview, closest to glance.nvim.
nmap gr <Action>(ShowUsages)
" References (tool window)
nmap gR <Action>(FindUsages)
" Hover
nmap K <Action>(QuickJavaDoc)
" Goto Implementation
nmap gI <Action>(GotoImplementation)
" Goto Type Definition
nmap gy <Action>(GotoTypeDeclaration)
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Incoming Calls.  Hierarchy tool window, Callers view.  Matches gc in nvim
" (Trouble lsp_incoming_calls).  For outgoing calls there is no editor-scoped
" action; use the Callee toggle in the Hierarchy toolbar.
nmap gc <Action>(CallHierarchy)
nmap gC <Action>(CallHierarchy)
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Goto Declaration
nmap gD <Action>(GotoDeclaration)
" Signature Help
nmap gK <Action>(ParameterInfo)
" Signature Help in Insert Mode
imap <C-k> <C-o><Action>(ParameterInfo)
" Code Action
nmap <leader>ca <Action>(RefactoringMenu)
vmap <leader>ca <Action>(RefactoringMenu)
" Run Codelens
nmap <leader>cc :echo 'There is no equivalent mapping for Run Codelens.'<cr>
" Refresh & Display Codelens
nmap <leader>cC :echo 'There is no equivalent mapping for Refresh & Display Codelens.'<cr>
" Rename File
nmap <leader>cR <Action>(RenameFile)
" Rename
nmap <leader>cr <Action>(RenameElement)
" Source Action
nmap <leader>cA <Action>(ShowIntentionActions)
" Next Reference
nmap ]] <Action>(GotoNextElementUnderCaretUsage)
" Prev Reference
nmap [[ <Action>(GotoPrevElementUnderCaretUsage)
" Next Reference (alternative)
nmap <a-n> <Action>(GotoNextElementUnderCaretUsage)
" Prev Reference (alternative)
nmap <a-p> <Action>(GotoPrevElementUnderCaretUsage)

" Bufferline

" Delete buffers to the left
nmap <leader>bl <Action>(CloseAllToTheLeft)
" Toggle pin
nmap <leader>bp <Action>(PinActiveTabToggle)
" Delete Non-Pinned Buffers
nmap <leader>bP <Action>(CloseAllUnpinnedEditors)
" Delete buffers to the right
nmap <leader>br <Action>(CloseAllToTheRight)

" Neo-tree Keymaps

" Buffer Explorer
nmap <leader>be <Action>(ActivateProjectToolWindow)
" Explorer NeoTree (Root Dir)
nmap <leader>e <Action>(ActivateProjectToolWindow)
" Explorer NeoTree (cwd)
nmap <leader>E <Action>(SelectInProjectView)
" Explorer NeoTree (Root Dir) (alternative)
nmap <leader>fe <Action>(ActivateProjectToolWindow)
" Explorer NeoTree (cwd) (alternative)
nmap <leader>fE <Action>(ActivateProjectToolWindow)
" Git Explorer
nmap <leader>ge <Action>(ActivateVersionControlToolWindow)

" Notifications (noice, snacks)

nmap <leader>snd <Action>(ClearAllNotifications)
nmap <leader>un <Action>(ClearAllNotifications)

" Telescope Keymaps

" Find Files (Root Dir)
nmap <leader><space> <Action>(GotoFile)
" Switch Buffer
nmap <leader>, <Action>(Switcher)
" Grep (Root Dir)
nmap <leader>/ <Action>(FindInPath)
" Command History
nmap <leader>: :history<cr>
" Buffers
nmap <leader>fb <Action>(Switcher)
" Find Config File
nmap <leader>fc <Action>(GotoFile)
" Find Files (Root Dir) (alternative)
nmap <leader>ff <Action>(GotoFile)
" Find Files (cwd)
nmap <leader>fF <Action>(GotoFile)
" Find Files (git-files)
nmap <leader>fg <Action>(GotoFile)
" Recent
nmap <leader>fr <Action>(RecentFiles)
" Recent (cwd)
nmap <leader>fR <Action>(RecentFiles)
" Commits
nmap <leader>gc <Action>(Vcs.Show.Log)
" Status
nmap <leader>gs <Action>(Vcs.Show.Log)
" Registers
nmap <leader>s" :registers<cr>
" Auto Commands
nmap <leader>sa :echo 'There is no equivalent mapping.'<cr>
" Buffer
nmap <leader>sb <Action>(Switcher)
" Command History (alternative)
nmap <leader>sc :history<cr>
" Commands
nmap <leader>sC <Action>(GotoAction)
" Document Diagnostics
nmap <leader>sd <Action>(ActivateProblemsViewToolWindow)
" Workspace Diagnostics
nmap <leader>sD <Action>(ActivateProblemsViewToolWindow)
" Grep (Root Dir) (alternative)
nmap <leader>sg <Action>(FindInPath)
" Grep (cwd)
nmap <leader>sG <Action>(FindInPath)
" Help Pages
nmap <leader>sh <Action>(HelpTopics)
" Search Highlight Groups
nmap <leader>sH <Action>(HighlightUsagesInFile)
" Jumplist
nmap <leader>sj <Action>(RecentLocations)
" Key Maps
nmap <leader>sk :map<cr>
" Location List
nmap <leader>sl <Action>(ActivateProblemsViewToolWindow)
" Jump to Mark
nmap <leader>sm :marks<cr>
" Man Pages
nmap <leader>sM <Action>(ShowDocumentation)
" Options
nmap <leader>so <Action>(ShowSettings)
" Quickfix List
nmap <leader>sq <Action>(ActivateProblemsViewToolWindow)
" Resume
nmap <leader>sR :echo 'Not yet implmented.'<cr>
" Goto Symbol
nmap <leader>ss <Action>(GotoSymbol)
" Goto Symbol (Workspace)
nmap <leader>sS <Action>(GotoSymbol)
" Word (Root Dir)
nmap <leader>sw <Action>(FindWordAtCaret)
" Word (cwd)
nmap <leader>sW <Action>(FindWordAtCaret)
" Selection (Root Dir)
vmap <leader>sw <Action>(FindWordAtCaret)
" Selection (cwd)
vmap <leader>sW <Action>(FindWordAtCaret)
" Colorscheme with Preview
nmap <leader>uC <Action>(QuickChangeScheme)


" DAP Keymaps

" Run with Args
nmap <leader>da <Action>(ChooseRunConfiguration)
" Toggle Breakpoint
nmap <leader>db <Action>(ToggleLineBreakpoint)
" Breakpoint Condition
nmap <leader>dB <Action>(AddConditionalBreakpoint)
" Continue
nmap <leader>dc <Action>(Resume)
" Run to Cursor
nmap <leader>dC <Action>(ForceRunToCursor)
" Go to Line (No Execute)
nmap <leader>dg :echo 'Not yet implemented.'<cr>
" Step Into
nmap <leader>di <Action>(StepInto)
" Down
nmap <leader>dj :echo 'No JetBrains action for stack frame down; use the Frames pane.'<cr>
" Up
nmap <leader>dk <Action>(Debugger.PopFrame)
" Run Last
nmap <leader>dl <Action>(Debug)
" Step Out
nmap <leader>do <Action>(StepOut)
" Step Over
nmap <leader>dO <Action>(StepOver)
" Pause
nmap <leader>dp <Action>(Pause)
" Toggle REPL
nmap <leader>dr <Action>(JShell.Console)
" Session
nmap <leader>ds :echo 'Not yet implmented.'<cr>
" Terminate
nmap <leader>dt <Action>(Stop)
" Widgets
nmap <leader>dw :echo 'There is no equivalent mapping for Widgets.'<cr>

" Todo-comments Keymaps

" Todo
nmap <leader>st oTODO<esc>gcc
" Todo/Fix/Fixme
nmap <leader>sT :echo 'Not yet implemented.'<cr>
" Todo (Trouble)
nmap <leader>xt :echo 'Not yet implemented.'<cr>
" Todo/Fix/Fixme (Trouble)
nmap <leader>xT :echo 'Not yet implemented.'<cr>
" Previous Todo Comment
nmap [t ?TODO<cr>
" Next Todo Comment
nmap ]t /TODO<cr>

" DAP UI Keymaps

" Eval
nmap <leader>de <Action>(EvaluateExpression)
vmap <leader>de <Action>(EvaluateExpression)
" Dap UI
nmap <leader>du <Action>(ActivateDebugToolWindow)

" Neotest Keymaps

" Run Last
nmap <leader>tl <Action>(Run)
" Show Output
nmap <leader>to :echo 'Not yet implemented.'<cr>
" Toggle Output Panel
nmap <leader>tO :echo 'Not yet implemented.'<cr>
" Run Nearest
nmap <leader>tr <Action>(RunClass)
" Toggle Summary
nmap <leader>ts <Action>(ShowTestSummary)
" Stop
nmap <leader>tS <Action>(Stop)
" Run File
nmap <leader>tt <Action>(RunClass)
" Run All Test Files
nmap <leader>tT <Action>(RunAllTests)
" Toggle Watch
nmap <leader>tw <Action>(ToggleTestWatch)

" nvim-dap
" Debug Nearest
nmap <leader>td <Action>(ChooseDebugConfiguration)

" Ported from the Neovim config

" gitsigns hunk navigation.  Two actions per key: the gutter one is enabled
" only in a normal editor (and only against HEAD, since GoLand has no
" equivalent to gitsigns.change_base), the diff one only inside a diff viewer.
" Never both at once, so the disabled half is a no-op and one key covers your
" working tree, a PR and <leader>gr's branch compare.
" Next Hunk
nmap ]h <Action>(VcsShowNextChangeMarker)<Action>(NextDiff)
" Prev Hunk
nmap [h <Action>(VcsShowPrevChangeMarker)<Action>(PreviousDiff)
" Compare With Branch
nmap <leader>gr <Action>(Git.CompareWithBranch)
" Next File (diff viewer)
nmap ]F <Action>(Diff.NextChange)
" Prev File (diff viewer)
nmap [F <Action>(Diff.PrevChange)
" Next Conflict
nmap ]x :echo 'There is no equivalent mapping for Next Conflict.'<cr>
" Prev Conflict
nmap [x :echo 'There is no equivalent mapping for Prev Conflict.'<cr>

" Next Method
nmap ]f <Action>(MethodDown)
" Prev Method
nmap [f <Action>(MethodUp)

" LSP
" Toggle Outline
nmap <leader>cs <Action>(FileStructurePopup)
" Organize Imports
nmap <leader>co <Action>(OptimizeImports)
" Callers of this function.  Opens the Hierarchy tool window, which defaults
" to the Callers direction; toggle to Callees in the window itself.
nmap <leader>cu <Action>(CallHierarchy)

" Go.  GoLand routes tags, test-for-func, all-tests, impl stubs and doc
" comments through one Generate menu, so the seven gopher.nvim keys collapse
" to two.
" Go Generate
nmap <leader>cgg <Action>(Generate)
" Go To Test
nmap <leader>cgt <Action>(GotoTest)

" Folds.  IdeaVim already handles zR/zM/zr/zm/zo/zc natively against
" IntelliJ folding, so only the peek key is missing.
" Peek Fold
nmap zK <Action>(QuickDefinition)

" Misc
" Breadcrumb pick
nmap <leader>; <Action>(ShowNavBar)
" Search and Replace
nmap <leader>sr <Action>(ReplaceInPath)
" Notification History
nmap <leader>snh <Action>(ActivateNotificationsToolWindow)
" Diagnostics (Trouble)
nmap <leader>xx <Action>(ActivateProblemsViewToolWindow)
" Buffer Diagnostics
nmap <leader>xX <Action>(ActivateProblemsViewToolWindow)

" Neovim mappings
" https://neovim.io/doc/user/vim_diff.html#_default-mappings

nnoremap Y y$
inoremap <C-U> <C-G>u<C-U>
inoremap <C-W> <C-G>u<C-W>
" Q isn't exactly the same.
nnoremap Q @@
" There are several more Neovim mappings that need to be ported.  See link.

" Jetbrains conflicts
" https://github.com/JetBrains/ideavim/blob/master/doc/sethandler.md
" None, yet.  Possible conflicts: ctrl -6befhjklorsvw

" Notes and Caveats:
" Tabs map to JB saved layouts.
" Not everything has been tested.

" TODOs:
" Jetbrains conflicts
" Improve Todo-comments
" Convert to a github project
" which-key labels
" Test every map.  sidy-by-side.
" Compare all which-key popups
" Consider:
"   flash, grub-far, noice, trouble, mini.diff, oversear, copilotchat,
"   dial, outline, md preview, harpoon, octo
" ── which-key labels ────────────────────────────────────────────────
" Generated from the comment above each mapping.  IdeaVim which-key reads
" only these globals; it does not see the mappings themselves.

let g:WhichKey_DefaultDelay = 200
let g:WhichKey_ShowVimActions = "true"

let g:WhichKeyDesc_l__tab = "<leader><tab> +tabs"
let g:WhichKeyDesc_l_b = "<leader>b +buffer"
let g:WhichKeyDesc_l_c = "<leader>c +code"
let g:WhichKeyDesc_l_cg = "<leader>cg +go"
let g:WhichKeyDesc_l_d = "<leader>d +debug"
let g:WhichKeyDesc_l_f = "<leader>f +file/find"
let g:WhichKeyDesc_l_g = "<leader>g +git"
let g:WhichKeyDesc_l_q = "<leader>q +quit"
let g:WhichKeyDesc_l_s = "<leader>s +search"
let g:WhichKeyDesc_l_sn = "<leader>sn +noice"
let g:WhichKeyDesc_l_t = "<leader>t +test"
let g:WhichKeyDesc_l_u = "<leader>u +ui"
let g:WhichKeyDesc_l_w = "<leader>w +window"
let g:WhichKeyDesc_l_x = "<leader>x +diagnostics"

let g:WhichKeyDesc_l__44 = "<leader>, Switch Buffer"
let g:WhichKeyDesc_l__45 = "<leader>- Split Window Below"
let g:WhichKeyDesc_l__47 = "<leader>/ Grep (Root Dir)"
let g:WhichKeyDesc_l__58 = "<leader>: Command History"
let g:WhichKeyDesc_l__59 = "<leader>; Breadcrumb pick"
let g:WhichKeyDesc_l__bar = "<leader><bar> Split Window Right"
let g:WhichKeyDesc_l__space = "<leader><space> Find Files (Root Dir)"
let g:WhichKeyDesc_l__tab_tab = "<leader><tab><tab> New Tab"
let g:WhichKeyDesc_l__tab_91 = "<leader><tab>[ Previous Tab"
let g:WhichKeyDesc_l__tab_93 = "<leader><tab>] Next Tab"
let g:WhichKeyDesc_l__tabd = "<leader><tab>d Close Tab"
let g:WhichKeyDesc_l__tabf = "<leader><tab>f First Tab"
let g:WhichKeyDesc_l__tabl = "<leader><tab>l Last Tab"
let g:WhichKeyDesc_l__tabo = "<leader><tab>o Close Other Tabs"
let g:WhichKeyDesc_l_E = "<leader>E Explorer NeoTree (cwd)"
let g:WhichKeyDesc_l_K = "<leader>K Keywordprg"
let g:WhichKeyDesc_l_L = "<leader>L LazyVim Changelog"
let g:WhichKeyDesc_l__96 = "<leader>` Switch to Other Buffer (alternative)"
let g:WhichKeyDesc_l_bD = "<leader>bD Delete Buffer and Window"
let g:WhichKeyDesc_l_bP = "<leader>bP Delete Non-Pinned Buffers"
let g:WhichKeyDesc_l_bb = "<leader>bb Switch to Other Buffer"
let g:WhichKeyDesc_l_bd = "<leader>bd Delete Buffer"
let g:WhichKeyDesc_l_be = "<leader>be Buffer Explorer"
let g:WhichKeyDesc_l_bl = "<leader>bl Delete buffers to the left"
let g:WhichKeyDesc_l_bo = "<leader>bo Delete Other Buffers"
let g:WhichKeyDesc_l_bp = "<leader>bp Toggle pin"
let g:WhichKeyDesc_l_br = "<leader>br Delete buffers to the right"
let g:WhichKeyDesc_l_cA = "<leader>cA Source Action"
let g:WhichKeyDesc_l_cC = "<leader>cC Refresh & Display Codelens"
let g:WhichKeyDesc_l_cR = "<leader>cR Rename File"
let g:WhichKeyDesc_l_ca = "<leader>ca Code Action"
let g:WhichKeyDesc_l_cc = "<leader>cc Run Codelens"
let g:WhichKeyDesc_l_cd = "<leader>cd Line Diagnostics"
let g:WhichKeyDesc_l_cf = "<leader>cf Format"
let g:WhichKeyDesc_l_cgg = "<leader>cgg Go Generate"
let g:WhichKeyDesc_l_cgt = "<leader>cgt Go To Test"
let g:WhichKeyDesc_l_cl = "<leader>cl Lsp Info"
let g:WhichKeyDesc_l_co = "<leader>co Organize Imports"
let g:WhichKeyDesc_l_cr = "<leader>cr Rename"
let g:WhichKeyDesc_l_cs = "<leader>cs Toggle Outline"
let g:WhichKeyDesc_l_cu = "<leader>cu Callers of this function"
let g:WhichKeyDesc_l_dB = "<leader>dB Breakpoint Condition"
let g:WhichKeyDesc_l_dC = "<leader>dC Run to Cursor"
let g:WhichKeyDesc_l_dO = "<leader>dO Step Over"
let g:WhichKeyDesc_l_da = "<leader>da Run with Args"
let g:WhichKeyDesc_l_db = "<leader>db Toggle Breakpoint"
let g:WhichKeyDesc_l_dc = "<leader>dc Continue"
let g:WhichKeyDesc_l_de = "<leader>de Eval"
let g:WhichKeyDesc_l_dg = "<leader>dg Go to Line (No Execute)"
let g:WhichKeyDesc_l_di = "<leader>di Step Into"
let g:WhichKeyDesc_l_dj = "<leader>dj Down"
let g:WhichKeyDesc_l_dk = "<leader>dk Up"
let g:WhichKeyDesc_l_dl = "<leader>dl Run Last"
let g:WhichKeyDesc_l_do = "<leader>do Step Out"
let g:WhichKeyDesc_l_dp = "<leader>dp Pause"
let g:WhichKeyDesc_l_dr = "<leader>dr Toggle REPL"
let g:WhichKeyDesc_l_ds = "<leader>ds Session"
let g:WhichKeyDesc_l_dt = "<leader>dt Terminate"
let g:WhichKeyDesc_l_du = "<leader>du Dap UI"
let g:WhichKeyDesc_l_dw = "<leader>dw Widgets"
let g:WhichKeyDesc_l_e = "<leader>e Explorer NeoTree (Root Dir)"
let g:WhichKeyDesc_l_fE = "<leader>fE Explorer NeoTree (cwd) (alternative)"
let g:WhichKeyDesc_l_fF = "<leader>fF Find Files (cwd)"
let g:WhichKeyDesc_l_fR = "<leader>fR Recent (cwd)"
let g:WhichKeyDesc_l_fT = "<leader>fT Terminal (cwd)"
let g:WhichKeyDesc_l_fb = "<leader>fb Buffers"
let g:WhichKeyDesc_l_fc = "<leader>fc Find Config File"
let g:WhichKeyDesc_l_fe = "<leader>fe Explorer NeoTree (Root Dir) (alternative)"
let g:WhichKeyDesc_l_ff = "<leader>ff Find Files (Root Dir) (alternative)"
let g:WhichKeyDesc_l_fg = "<leader>fg Find Files (git-files)"
let g:WhichKeyDesc_l_fn = "<leader>fn New File"
let g:WhichKeyDesc_l_fr = "<leader>fr Recent"
let g:WhichKeyDesc_l_ft = "<leader>ft Terminal (Root Dir)"
let g:WhichKeyDesc_l_gB = "<leader>gB Git Browse"
let g:WhichKeyDesc_l_gG = "<leader>gG Lazygit (cwd)"
let g:WhichKeyDesc_l_gL = "<leader>gL Lazygit Log (cwd)"
let g:WhichKeyDesc_l_gb = "<leader>gb Git Blame Line"
let g:WhichKeyDesc_l_gc = "<leader>gc Commits"
let g:WhichKeyDesc_l_ge = "<leader>ge Git Explorer"
let g:WhichKeyDesc_l_gf = "<leader>gf Lazygit Current File History"
let g:WhichKeyDesc_l_gg = "<leader>gg Lazygit (Root Dir)"
let g:WhichKeyDesc_l_gl = "<leader>gl Lazygit Log"
let g:WhichKeyDesc_l_gr = "<leader>gr Compare With Branch"
let g:WhichKeyDesc_l_gs = "<leader>gs Status"
let g:WhichKeyDesc_l_l = "<leader>l Lazy"
let g:WhichKeyDesc_l_qq = "<leader>qq Quit All"
let g:WhichKeyDesc_l_s_34 = "<leader>s" Registers"
let g:WhichKeyDesc_l_sC = "<leader>sC Commands"
let g:WhichKeyDesc_l_sD = "<leader>sD Workspace Diagnostics"
let g:WhichKeyDesc_l_sG = "<leader>sG Grep (cwd)"
let g:WhichKeyDesc_l_sH = "<leader>sH Search Highlight Groups"
let g:WhichKeyDesc_l_sM = "<leader>sM Man Pages"
let g:WhichKeyDesc_l_sR = "<leader>sR Resume"
let g:WhichKeyDesc_l_sS = "<leader>sS Goto Symbol (Workspace)"
let g:WhichKeyDesc_l_sT = "<leader>sT Todo/Fix/Fixme"
let g:WhichKeyDesc_l_sW = "<leader>sW Word (cwd)"
let g:WhichKeyDesc_l_sa = "<leader>sa Auto Commands"
let g:WhichKeyDesc_l_sb = "<leader>sb Buffer"
let g:WhichKeyDesc_l_sc = "<leader>sc Command History (alternative)"
let g:WhichKeyDesc_l_sd = "<leader>sd Document Diagnostics"
let g:WhichKeyDesc_l_sg = "<leader>sg Grep (Root Dir) (alternative)"
let g:WhichKeyDesc_l_sh = "<leader>sh Help Pages"
let g:WhichKeyDesc_l_sj = "<leader>sj Jumplist"
let g:WhichKeyDesc_l_sk = "<leader>sk Key Maps"
let g:WhichKeyDesc_l_sl = "<leader>sl Location List"
let g:WhichKeyDesc_l_sm = "<leader>sm Jump to Mark"
let g:WhichKeyDesc_l_snh = "<leader>snh Notification History"
let g:WhichKeyDesc_l_so = "<leader>so Options"
let g:WhichKeyDesc_l_sq = "<leader>sq Quickfix List"
let g:WhichKeyDesc_l_sr = "<leader>sr Search and Replace"
let g:WhichKeyDesc_l_ss = "<leader>ss Goto Symbol"
let g:WhichKeyDesc_l_st = "<leader>st Todo"
let g:WhichKeyDesc_l_sw = "<leader>sw Word (Root Dir)"
let g:WhichKeyDesc_l_tO = "<leader>tO Toggle Output Panel"
let g:WhichKeyDesc_l_tS = "<leader>tS Stop"
let g:WhichKeyDesc_l_tT = "<leader>tT Run All Test Files"
let g:WhichKeyDesc_l_td = "<leader>td Debug Nearest"
let g:WhichKeyDesc_l_tl = "<leader>tl Run Last"
let g:WhichKeyDesc_l_to = "<leader>to Show Output"
let g:WhichKeyDesc_l_tr = "<leader>tr Run Nearest"
let g:WhichKeyDesc_l_ts = "<leader>ts Toggle Summary"
let g:WhichKeyDesc_l_tt = "<leader>tt Run File"
let g:WhichKeyDesc_l_tw = "<leader>tw Toggle Watch"
let g:WhichKeyDesc_l_uC = "<leader>uC Colorscheme with Preview"
let g:WhichKeyDesc_l_uF = "<leader>uF Toggle Auto Format (Global)"
let g:WhichKeyDesc_l_uI = "<leader>uI Inspect Tree"
let g:WhichKeyDesc_l_uL = "<leader>uL Toggle Relative Number"
let g:WhichKeyDesc_l_uT = "<leader>uT Toggle Treesitter Highlight"
let g:WhichKeyDesc_l_ub = "<leader>ub Toggle Background"
let g:WhichKeyDesc_l_uc = "<leader>uc Toggle conceallevel"
let g:WhichKeyDesc_l_ud = "<leader>ud Toggle Diagnostics"
let g:WhichKeyDesc_l_uf = "<leader>uf Toggle Auto Format (Buffer)"
let g:WhichKeyDesc_l_uh = "<leader>uh Toggle Inlay Hints"
let g:WhichKeyDesc_l_ui = "<leader>ui Inspect Pos"
let g:WhichKeyDesc_l_ul = "<leader>ul Toggle Line Numbers"
let g:WhichKeyDesc_l_us = "<leader>us Toggle Spelling"
let g:WhichKeyDesc_l_uw = "<leader>uw Toggle Wrap"
let g:WhichKeyDesc_l_wd = "<leader>wd Delete Window"
let g:WhichKeyDesc_l_wm = "<leader>wm Toggle Maximize"
let g:WhichKeyDesc_l_xT = "<leader>xT Todo/Fix/Fixme (Trouble)"
let g:WhichKeyDesc_l_xX = "<leader>xX Buffer Diagnostics"
let g:WhichKeyDesc_l_xl = "<leader>xl Location List"
let g:WhichKeyDesc_l_xq = "<leader>xq Quickfix List"
let g:WhichKeyDesc_l_xt = "<leader>xt Todo (Trouble)"
let g:WhichKeyDesc_l_xx = "<leader>xx Diagnostics (Trouble)"
